<p style="color: green"><%= notice %></p>

<%= render @desired_feature %>

<div>
  <%= link_to "Edit this desired feature", edit_desired_feature_path(@desired_feature) %> |
  <%= link_to "Back to desired features", desired_features_path %>

  <%= button_to "Destroy this desired feature", @desired_feature, method: :delete %>
</div>
